<<<<<<< HEAD
=======
.bg-nav {
    background-color: #353a40;
}

>>>>>>> main
.w-10 {
    width: 20%;
}

.z-1 {
    z-index: 2;
}

.vh-80 {
    height: 92.2vh;
}

.bottom {
    position: absolute;
    bottom: 1em;
}

.push-right {
    right: 0;
}

.blur {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    background-color: aqua;
    opacity: 50%;
    z-index: 2
<<<<<<< HEAD
}
=======
}
>>>>>>> main
