
/* Element Selectors */

nav {
    font-family: 'Fjalla One', sans-serif;
}

button {
    background-image: url("hamburger_button.png");
}

/* Class Selectors */

.bg-nav {
    background-color: #353a40;
}

.w-2 {
    width: 2em;
}