.mb-20 {
    margin-bottom: 20em;
}

.bg-card-header {
    background-color: #353a40 !important;
}

.cropped {
    width: 200px; /* width of container */
    height: 400px; /* height of container */
    object-fit: cover;
    object-position: 20% 90%;
}


