.constraint {
    width: 80%;
}

.img-resize {
    object-fit: cover;
    width: 30%;
}

.gallery > * {
    padding: 4.5em;
}

.bg-card-header {
    background-color: #353a40 !important;
}

figure {
    display: table !important;
    width: 100%;
}
figcaption {
    display: table-caption !important;
    caption-side: top;
    width: 30%;
}