/* CSS classes */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.landing-container {
  background-image: url("https://images.pexels.com/photos/3781824/pexels-photo-3781824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  
* {
  box-sizing: border-box;
}

#logoName {
  font-family: 'Fjalla One', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.landing-container {
  background-image: url("https://i.imgur.com/x5eeYKp.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner_padding * {
  padding: 5px
}

.border {
  border: black 1px solid;
}

.hidden {
  display: none;
}

